.custom-input {
  border: 1px solid black;
  border-radius: 4px;
  padding-left: 10px;
  height: 35px;
  width: 50%;
}
.custom-input:focus {
  border: 1px solid black;
}
.custom-input::placeholder {
  color: #888888;
}
