.mentions {
  margin: 1em 0;
  padding: 10px;
}

.mentions--singleLine .mentions__control {
  display: inline-block;
  width: 130px;
  padding: 6px;
}
.mentions--singleLine .mentions__highlighter {
  padding: 6px;
  border: 2px inset transparent;
}
.mentions--singleLine .mentions__input {
  padding: 6px;
  border: 2px inset;
}

.mentions--multiLine .mentions__control {
  font-family: sans-serif;
  font-size: 14pt;
}
.mentions--multiLine .mentions__highlighter {
  border: 1px solid transparent;
  min-height: 100px;
}
.mentions--multiLine .mentions__input {
  border: 1px solid silver;
  font-style: normal;
  font-family: sans-serif !important;
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.mentions__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.mentions__suggestions__item--focused {
  background-color: #cee4e5;
}

.mentions__mention {
  position: relative;
  z-index: 1;
  color: blue;
  text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white,
    -1px -1px 1px white;
  text-decoration: underline;
  pointer-events: none;
}
.mentions textarea {
  padding: 10px;
}
